
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	color: #000000;
	background: #D300EA;
	background: linear-gradient(135deg, rgb(255,0,4) 0%,rgb(224,71,0) 15%,rgb(244,236,0) 31%,rgb(0,188,12) 47%,rgb(0,181,168) 64%,rgb(0,21,214) 82%,rgb(211,0,234) 100%);
	background-repeat: no-repeat;
	overflow: hidden;

/*	background: #B0D09C;
	background: -webkit-linear-gradient(top left, #B0D09C, #4B8244);
	background: -moz-linear-gradient(top left, #B0D09C, #4B8244);
	background: linear-gradient(top left, #B0D09C, #4B8244);*/
	
/*	background: #B5DBDC;
	background: -webkit-linear-gradient(top left, #B5DBDC, #A8C6D4);
	background: -moz-linear-gradient(top left, #B5DBDC, #A8C6D4);
	background: linear-gradient(top left, #B5DBDC, #A8C6D4);*/
	
/*	background: #DFA2B9;
	background: -webkit-linear-gradient(top left, #DFA2B9, #EBC48D);
	background: -moz-linear-gradient(top left, #DFA2B9, #EBC48D);
	background: linear-gradient(top left, #DFA2B9, #EBC48D);*/
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 50px;
}

.name {
	font-size: 58px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	font-family: 'Spicy Rice', cursive;
	color: #fff;
	text-shadow: 4px 0 2px rgba(0, 0, 0, 0.6);
	letter-spacing: 6px;
}

.title {
	font-size: 36px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	color: #fff;
	text-shadow: 4px 0 2px rgba(0, 0, 0, 0.6);
}

.photo img {
	display: none;
	box-shadow: 10px -10px 10px 0 rgba(0, 0, 0, 0.4);
}

.hidden {
	display: none;
}

.copyright {
	opacity: .5;
} 

.copyright p {
	font-size: 18px;
	color: #fff;
}

.copyright a {
	color: #FFF;
	text-decoration: underline;
}